.container {
    margin-top: 2.5rem;
}

.about-title {
    color: #5C1139;
    font-family: Cooker Cake Demo;
    font-size: 7.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}