.navbar {
    color: rgba(92, 17, 57, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-title {
    padding-left: 2rem;
    padding-top: 1rem;
}

.boba-cup {
    width: 2.5rem;
    height: 1.5rem;
}

.sub-title {
    color: #5C1139;
    font-family: Futura;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 250;
    line-height: normal;

}

.navbar ul {
    margin: 1rem;
    padding: 1rem;
    list-style: none;
    display: flex;
    gap: 2rem
}

.navbar a {
    color: inherit;
    text-decoration: none;

}